@import "../../var";
@import "../../mixins";

.header {
  @include font-style(2.5rem, 700);

  &__board {
    @include font-style(26px, 800);
  }
}

.card {
  padding: 10px 20px;
  background-color: $colorDarkGray;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 15px;
  border: 0;
  &__player-picker {
    padding: 3px;
    background-color: $colorGray;
    box-shadow: inset 0 0 8px rgba(17, 136, 194, 0.2);
    border-radius: 15px;
    display: flex;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 50%;
      font-size: 1.5rem;
      padding: 2px 0;
      border-radius: 10px;
      font-weight: 800;
      color: $main;
      cursor: pointer;
    }
    .player-active {
      background: #b8d8e4;
      box-shadow: inset 0 0 8px rgba(15, 119, 237, 0.2);
      // color: $colorRed !important;
    }
  }
  &__text-light {
    color: $colorGrayLight;
  }
}
.text-x {
  color: $colorRed !important;
}
.text-o {
  color: $colorSky !important;
}
.bg-skyBlue {
  @include shadow-btn(
    $colorSky,
    4px,
    0,
    $color: rgba(51, 160, 163, 74%),
    $shadow: true,
    $hover: false,
    $active: false
  );
  &:hover {
    @include shadow-btn(
      $colorSky,
      6px,
      -2px,
      $color: rgba(51, 160, 163, 74%),
      $shadow: true,
      $hover: true,
      $active: false
    );
  }
  &:active {
    @include shadow-btn(
      $colorSky,
      2px,
      2px,
      $color: rgba(51, 160, 163, 74%),
      $shadow: true,
      $hover: false,
      $active: false
    );
  }
}
.bg-gray {
  @include shadow-btn(
    #afcfda,
    4px,
    0,
    $color: rgba(166, 183, 186, 94%),
    $shadow: true,
    $hover: false,
    $active: false
  );
  &:hover {
    @include shadow-btn(
      #afcfda,
      6px,
      -2px,
      $color: rgba(166, 183, 186, 94%),
      $shadow: true,
      $hover: true,
      $active: false
    );
  }
  &:active {
    @include shadow-btn(
      #afcfda,
      2px,
      2px,
      $color: rgba(166, 183, 186, 94%),
      $shadow: true,
      $hover: false,
      $active: false
    );
  }
}

.bg-red {
  @include shadow-btn(
    $colorRed,
    4px,
    0,
    $color: rgb(233, 85, 75, 72%),
    $shadow: false,
    $hover: false,
    $active: false
  );
  &:hover {
    @include shadow-btn(
      $colorRed,
      6px,
      -2px,
      $color: rgb(233, 85, 75, 72%),
      $shadow: false,
      $hover: true,
      $active: false
    );
  }
  &:active {
    @include shadow-btn(
      $colorRed,
      2px,
      2px,
      $color: rgb(233, 85, 75, 72%),
      $shadow: false,
      $hover: false,
      $active: true
    );
  }
}
