$main:#00244D;
$textColor:#e2ecf5;
$secondColor: #97E0F3;
$colorDark:#104767;
$colorDarkGray:#70919b ;
$colorGray:#90aab2;
$colorBlue:#0e809f;
$colorGrayLight:#bfd2d8;
$colorRed:#cc5252;
$colorSky:#218fad;
$colorblueLight:#b9dbe5;
$mainWidth:450px;
$mainHeight:500px
